
#/Assets/AssetStoreTools*

# =============== #
# Unity generated #
# =============== #
InsideInvaders/Temp/
InsideInvaders/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
InsideInvaders/ExportedObj/
obj/
*.svd
*.userprefs
InsideInvaders/*.csproj
*.pidb
*.suo
InsideInvaders/*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
